<nav
  class="d-flex justify-content-around align-items-center bx-shadow-bottom position-fixed top-0 start-0 w-100"
>
  <div class="">
    <h1 class="text-nowrap" role="button" (click)="pageName = 'home'">
      <i class="fa-solid fa-mortar-pestle"></i> Qimmat Dorixona
    </h1>
  </div>
  <div class="">
    <button class="btn btn-secondary w-3" (click)="pageName = 'medical'">
      <i class="fa-solid fa-house-chimney-medical me-3"></i> Dorixonalar
    </button>
  </div>
  <div class="">
    <button class="btn btn-secondary w-3" (click)="pageName = 'pills'">
      <i class="fa-solid fa-pills me-3"></i> Dorilar
    </button>
  </div>
  <div
    class="d-flex flex-column position-relative"
    (mouseover)="pageName == 'home' && listRegions.classList.remove('no')"
    (mouseout)="listRegions.classList.add('no')"
  >
    <button
      class="btn btn-secondary w-3"
      [disabled]="pageName != 'home'"
      type="submit"
    >
      <i class="fa-solid fa-city me-3"></i>{{ selectedRegion }}
    </button>
    <ul
      class="list-group list-group-flush no position-absolute"
      style="top: 35px; left: 0px"
      #listRegions
    >
      <li
        *ngFor="let region of hudud"
        class="list-group-item bx-shadow-bottom w-3 border"
        style="z-index: 9"
        role="button"
        (mouseover)="listInRegions.classList.remove('no')"
        (mouseout)="listInRegions.classList.add('no')"
      >
        <span class="text-nowrap fw-bold">{{ region.name }}</span>
        <i class="ms-3 fa-solid fa-caret-right"></i>
        <div class="position-relative">
          <ul
            class="list-group list-group-flush no position-absolute start-100"
            style="top: -30px"
            #listInRegions
          >
            <li
              *ngFor="let reg of region.regions"
              class="list-group-item onhover bx-shadow-bottom w-3"
              style="z-index: 99"
              role="button"
              (click)="selectedRegion = reg"
            >
              <i class="fa-solid fa-map-location-dot me-2"></i>
              {{ reg }}
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="btn-group w-3">
    <input
      class="form-control"
      type="search"
      [(ngModel)]="searchText"
      placeholder="Dori{{ pageName == 'medical' ? 'xona' : '' }} nomi"
      aria-label="Search"
    />
    <button class="btn btn-secondary" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <app-auth></app-auth>
</nav>

<div class="container mt-6">
  <div *ngIf="pageName == 'home'" class="card-group p-a">
    <div class="card bx-shadow onhover">
      <div class="text-center mt-3">
        <i class="fa-solid fa-pills fa-2xl"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">Dorilar</h5>
        <p class="card-text">Eng Qimmat dorilar bizda!</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Ishonmaysizmi ?...</small>
      </div>
    </div>

    <div class="card ms-2 bx-shadow onhover">
      <div class="text-center mt-3">
        <i class="fa-solid fa-location-crosshairs fa-2xl"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">Qayerda bor</h5>
        <p class="card-text">Albatta bu savolga bizda javob olasiz!</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Shuncha qidiring</small>
      </div>
    </div>

    <div class="card ms-2 bx-shadow onhover">
      <div class="text-center mt-3">
        <i class="fa-solid fa-hand-holding-dollar fa-2xl"></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">Pulni tejab qolish</h5>
        <p class="card-text">Eng qimmat dorixonalarda ham buni iloji bor</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Shunchaki ko'proq pul olib keling</small>
      </div>
    </div>
  </div>
  <app-list-medical
    *ngIf="pageName == 'medical'"
    class="p-a-0"
  ></app-list-medical>
  <app-pills *ngIf="pageName == 'pills'" class="p-a-0"></app-pills>
  <footer
    class="bx-shadow-top position-fixed bottom-0 start-0 w-100 p-3 text-center"
  >
    <span>
      ✌️({{ getDate(5 * 12 * 30 * 24 * 60 * 60 * 1000) }} - {{ getDate() }}) FOR
      FUN &check; Siz bilan birga! OOO "Rostan" L.T</span
    >
  </footer>
</div>
