<div style="height: 100vh">
  <div
    class="d-flex align-items-center justify-content-around bx-shadow-bottom m-2 p-2"
  >
    <button class="btn btn-secondary w-3">Dorilar</button>
    <button class="btn btn-secondary w-3">Dorixonalar</button>
    <button class="btn btn-secondary w-3">Foydalanuvchilar</button>
    <button class="btn btn-danger w-3" (click)="exit.emit()">Chiqish</button>
  </div>
  <div class="container mt-5">
    <canvas class="bx-shadow" id="canvas"></canvas>
  </div>
</div>
