<div class="container mt-3">
  <div class="row" style="height: 90vh">
    <div
      class="col-2 d-flex flex-column align-items-start justify-content-around h-50 bx-shadow"
    >
      <button class="btn btn-secondary w-100">Dorilar</button>
      <button class="btn btn-secondary w-100">Dorixonalar</button>
      <button class="btn btn-secondary w-100">Foydalanuvchilar</button>
      <button class="btn btn-danger w-100">Chiqish</button>
    </div>
    <canvas class="d-block col-10 bx-shadow" id="canvas"></canvas>
  </div>
</div>
